<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
  </button>
  <img src="http://static1.squarespace.com/static/55085720e4b0813599644fae/5768549715d5db9b150af935/59669aa08419c2f5f147edd4/1499896693943/coding_dojo_logo_black.png?format=1000w" alt="dojo logo">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/browse']">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listings']">My Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">Log Off</a>
      </li>
    </ul>
  </div>
</nav>
